/* HEADER I FOOTER - POCETAK */

body{
    margin: 0;
}

header{
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

header nav ul li{
    list-style-type: none;
    margin-right: 20px;
}

.search-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
}

.search-box label{
    margin-right: 10px;
}

header nav ul li a:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

header nav ul{
    display: flex;
    margin-bottom: 10px;
    margin-left: 60%;

}

header ul li a{
    text-decoration: none;
    color: white;

}

.header-items{
    display: grid;
    background-image: url(../img/matrix.jpg);
    padding-bottom: 10px;
}

header nav{
    border-top:3px solid white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.header-items a,.header-items img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header-items img{
    border: 1px solid white;
}

.footer-top{
    display: flex;
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
}

.copyright{
    display: flex;
    background-color: rgb(17, 17, 17);
}

.copyright p{
    margin: auto;
    margin-right: 10px;
}

footer{
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

/* HEADER I FOOTER - KRAJ */

a{
    color: #ffffff;
}

main{
    background-color: black;
    color: white;
}

main img{
    border: 1px solid white;
    margin-left: 40px;
    margin-bottom: 30px;
}

main h1{
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    border-top: 1px solid white;
}

@media(max-width:992px){

    html{
        width: 992px;
    }
    
    header{
        width: 990px;
    }

    header nav{
        width: 990px;
    }

    header nav ul{
        width: 690px;
        padding-left: 0;
        margin-left: 300px;
    }

    main{
        width: 990px;
        opacity: 1;
    }

    main p{
        padding-left: 10px;
    }

    main img{
        width: 60%;
        height: 60%;
        margin-left: 15%;
    }
}

@media(max-width:576px){

    html{
        width: 576px;
    }

    header, main, footer{
        width: 575px;
    }

    header nav{
        width: 575px;
    }

    header nav ul{
        width: 275px;
        margin-left: 20%;
        text-align: center;
    }

    main{
        height: 600px;
        opacity: 1;
    }

    main img{
        width: 60%;
        height: 40%;
        margin-top: 50px;
    }
}